@model IEnumerable<Ticketverkoop.ViewModels.WedstrijdVM>

@{
    ViewData["Title"] = "Index";
}


<h1>Wedstrijden</h1>

<div class="row">
    <div class="col-md-4">
      
        <form asp-action="Index">

            <div class="form-group">

                <label for="clubId" class="control-label"></label>
                <select name="clubId" id="clubId"
                        asp-items="@ViewBag.lstClubs">
                    <option id="Clubkeuze">Zoek naar een club...</option>
                </select>

            </div>

            <div class="form-group">
                <input type="submit" value="Zoek!" id="zoek" class="btn btn-default" hidden />
            </div>



            <div class="form-group">
                <a asp-action="Index">Volledig wedstrijd overzicht</a>
            </div>

        </form>
</div>
</div>

<span class="text-danger">@Html.ValidationMessage("error")</span>

<div class="Overview">

        <div class="Overview-titles">
            <p>
                @Html.DisplayNameFor(model => model.ThuisClubNaam)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.UitClubNaam)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.Datum)
            </p>
            <p>
                @Html.DisplayNameFor(model => model.StadionNaam)
            </p>
            <p>

            </p>
        </div>
    

    <div class="Overview-items">

        @if (Model != null)
        {
            @foreach (var item in Model)

            {
        <div class="Overview-item">
            <p>
                @Html.DisplayFor(modelItem => item.ThuisClubNaam)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.UitClubNaam)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Datum)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.StadionNaam)
            </p>
            @if (item.Datum <= DateTime.Now.AddMonths(1))
            {
                <p>
                    <input readonly class="btn btn-info btnKoop" value="Koop ticket" />
                </p>
            }
            else{ 
            <p>
                
            </p>
            }

            <div class="Overview-item--fields">

                <form asp-action="Koop" asp-route-wedstrijdId="@item.Id">

                    <p class="koop">
                        <div class="form-group">
                            <label for="vakId" class="control-label"></label>
                            <select name="vakId" id="vakId"
                                    asp-items="@item.Vakken"
                                    asp-for="@item.GekozenVakId">
                                <option>Kies een vak...</option>
                            </select>
                        </div>
                    </p>
                    <p class="koop">
                        <div class="form-group">
                            <input name="atlTickets" for="atlTickets" id="atlTickets" type="number" min="0" max="10" />
                        </div>
                    </p>

                    <p class="koop">

                        <button type="submit" value="Toevoegen aan winkelmandje" id="naarWinkelmand" class="btn btn-success"> Toevoegen aan winkelmandje </button>

                    </p>




                </form>

            </div>

</div> 
            }

            }
        </div>

</div>

    


@section Scripts{

    <script>
        $(() => {
            $("#clubId").on("change", (e) => {
                console.log(e);
                console.log("change");
                $('#zoek').click();

            });

            $('.btnKoop').each(function () {
                $(this).on('click', function () {
                    var fields = $(this).parent().parent().find('.Overview-item--fields');
                    fields.slideToggle();
                });
            });

        });


    </script>
}
