@model IEnumerable<Ticketverkoop.ViewModels.WedstrijdVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Wedstrijden</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThuisClubNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UitClubNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ThuisClubNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UitClubNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("ShoppingCart", "Koop", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
