@model IEnumerable<Ticketverkoop.ViewModels.WedstrijdVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Wedstrijden</h1>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Index"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#content"
              data-ajax-loading="#divloading"
              data-ajax-success="Success"
              data-ajax-failure="Failure">


            <div class="form-group">
                <label for="clubId" class="control-label"></label>
                <select name="clubId" id="clubId"
                        asp-items="@ViewBag.lstClubs">
                    <option id="Clubkeuze">Zoek naar een club...</option>
                </select>

            </div>

            <div class="form-group">
                <input type="submit" value="Zoek!" id="zoek" class="btn btn-default" hidden/>
            </div>


        </form>


        <div class="form-group">
            <a asp-action="Index" asp-route-clubId="null">Volledig wedstrijd overzicht</a>
        </div>
    </div>
</div>

<img id="divloading"
     src="~/images/loading.gif" 
     style="display: none" />

<div id="content">

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThuisClubNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UitClubNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StadionNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vakken)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThuisClubNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UitClubNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StadionNaam)
            </td>
            <td>
                <div class="form-group">
                    <label for="vakId" class="control-label"></label>
                    <select name="vakId" id="vakId"
                            asp-items="@item.Vakken"
                            asp-for="@item.GekozenVakId">
                        <option>Kies een vak...</option>
                    </select>
                </div>
            </td>
            <td>
                <a class="btn btn-success" asp-action="Koop" asp-route-wetId="@item.Id" asp-route-vakId="@item.GekozenVakId">Koop tickets</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{

<script>
    $(() => {
        console.log("ik doe iets");
        $("#clubId").on("change", (e) => {
            console.log(e);
            console.log("change");

            $("#zoek").click();
        })
    });


</script>
 }
