@model Ticketverkoop.ViewModels.ClubVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClubVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StadionNaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadionNaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            <img src="/@Model.Logo" height="45" width="45" />
        </dd>
    </dl>
</div>
<div id="abo">
    <form asp-action="Koop" asp-route-aboClubId="@Model.Id">
        <h3>Koop uw abonement</h3>
        <span class="text-danger">@Html.ValidationMessage("error")</span>
        <div class="form-group">
            <label for="vakId" class="control-label"></label>
            <select name="vakId" id="vakId"
                    asp-items="@Model.Vakken"
                    asp-for="@Model.GekozenVakId"
                    required>
                <option></option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Toevoegen aan winkelmandje</button>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
