@model Ticketverkoop.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}

<h3>Inhoud van je winkelwagen</h3>

@if (Model != null)
{

    <form asp-action="Payment" id="target">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart[0].WedstrijdId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart[0].ThuisClubNaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart[0].UitCLubNaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart[0].StadiumNaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart[0].VakNaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart[0].WedstrijdDatum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart[0].StukPrijs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart[0].Aantal)
                </th>
                <th>
                    Subtotaal
                </th>
            </tr>
            @{ decimal total = 0;}
            @for (var i = 0; i < Model.ShoppingCart.Count; i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model.ShoppingCart[i].WedstrijdId" readonly="readonly" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="@Model.ShoppingCart[i].ThuisClubNaam" readonly="readonly" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="@Model.ShoppingCart[i].UitCLubNaam" readonly="readonly" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="@Model.ShoppingCart[i].StadiumNaam" readonly="readonly" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="@Model.ShoppingCart[i].VakNaam" readonly="readonly" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="@Model.ShoppingCart[i].WedstrijdDatum" readonly="readonly" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="@Model.ShoppingCart[i].StukPrijs" id="stukprijs" readonly="readonly" class="form-control"  />
                    </td>
                    <td>
                        <input asp-for="@Model.ShoppingCart[i].Aantal" id="atlTickets" type="number" min="1" max="10" data-aantal="@i" />
                    </td>
                    <td>
                        @{
                            var subtotaal = Model.ShoppingCart[i].StukPrijs * Model.ShoppingCart[i].Aantal;
                            total += subtotaal;
                        }
                        <input id="subtot" value="@subtotaal" type="number" readonly="readonly" />
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-WedstrijdId="@Model.ShoppingCart[i].WedstrijdId">Delete</a>
                    </td>
                </tr>
            }

            <tr>
                <td>
                    <a asp-controller="ShoppingCart" asp-action="Payment">Checkout</a>
                </td>
            <tr>
                <td>
                    Totaal
                </td>
            </tr>
            <tr>
                <td id="cart-total">
                    <input id="txtTotal" value="@total" type="number" readonly="readonly" />
                </td>
            </tr>

        </table>
    </form>

}
else
{ @Html.Raw("Winkelwagen is momenteel leeg")
}

<a asp-controller="Wedstrijd"
   asp-action="Index">
    Verder winkelen
</a>

@section Scripts{ 

<script>
    $(() => {
        /*$("[id$=Aantal]").on('change', (e) => {
            console.log(e);
            console.log("change");
            let atl = $(e.currentTarget).val();
            let prs = parseFloat($('#prijs').val());
            console.log(atl);
            let kost = atl * prs;
            $('#subtot').val(kost);

            let sum;
            $('[id^=txtSubTotal]').each((index, element) => {
             
                    sum += parseFloat($(element).val());
               
            });
            console.log(sum)
            $('#txtTotal').val(sum);

        })

        $("#btnCheckout"){
            let aantal = atlTickets.val();
            console.log(aantal);
        }
        */
    });

</script>
}

